@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Inter:wght@400;600;700&display=swap');


html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Inter",sans-serif;
}
::-webkit-scrollbar{
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track{
  background: #7a7f9d;
}
/* Thumb */
::-webkit-scrollbar-thumb{
  background: #21259c;
}

/* Handle on hover */
::-webkit-scrollbar-track:hover{
  background: #21259c;
}